# TeX files
*.aux
*.idx
*.log
*.out
*.thm
*.toc
*.dvi

# Graphic files
*.eps
*.cdr

# Tmp files
~*.*
*.bak
*.backup

# Python cache
__pycache__/

# Python virtual env dir
env/

# Idea files
.idea/

# Concrete files
support
spec/*.pdf
clear.cmd

# Folders for test and output files
ca_server/out/*
client_test/out/*
client_test/answers/*
ca_server/test_ca/current_crl*
ca_server/test_ca/*/certs/*

# Python package files
*.egg-info/
bdist.*/
lib.*/
temp.*/
