###############################################################################
# \brief Описание запроса / сертификата AA = Attribute Authority
# \project bpki/demo
# \remark AA = ЦАС = Центр атрибутных сертификатов 
###############################################################################

[req]
prompt = no
distinguished_name = dn

[dn]
CN = Vector AA
name = Открытое акционерное общество \"Вектор\"
countryName = BY
localityName = г. Минск
organizationName = ОАО \"Вектор\"
OU = отдел информационных технологий
organizationIdentifier = TAXBY-235831459

[reqexts]
certificatePolicies = bpki-role-aa

[exts]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always, issuer
basicConstraints = critical, CA:false
keyUsage = critical, digitalSignature, cRLSign
crlDistributionPoints = URI:http://bpki.by/ruc.crl
authorityInfoAccess = @aia

[aia]
caIssuers;URI = http://bpki.by/ruc.cer
OCSP;URI = http://bpki.by/ocsp
