###############################################################################
# \brief Описание запроса / сертификата IDS = Identification Server
# \project bpki/demo
# \remark IDS = СИ = Служба идентификации
###############################################################################

[req]
prompt = no
distinguished_name = dn

[dn]
CN = BY Republican IDS
name = Республиканское унитарное предприятие \"Национальный центр электронных услуг\"
countryName = BY
localityName = г. Минск
organizationName = НЦЭУ
OU = отдел услуг доверия 
organizationIdentifier = TAXBY-191700161

[reqexts]
extendedKeyUsage = critical, bpki-eku-serverTM
certificatePolicies = bpki-role-ids
subjectAltName = URI:http://bpki.by/ids

[exts]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always, issuer
basicConstraints = critical, CA:false
keyUsage = critical, digitalSignature, nonRepudiation, keyEncipherment
crlDistributionPoints = URI:http://bpki.by/ruc.crl
authorityInfoAccess = @aia

[aia]
caIssuers;URI = http://bpki.by/ruc.cer
OCSP;URI = http://bpki.by/ocsp
